.article-img-wrapper{
  position: relative;
  img{
    width: 100%;
  }
}

.article-title{
  padding: 1em 0;
  font-size: 2em;
}

.article-text{
  padding:1em 0;
  line-height: 1.6;
}
.article-subtitle{
  padding-top: 1em ;
  font-size: 1.5em;
}

.press-container{
  //display: flex;
  //justify-content:space-between;
}
.press{
  h2{
    margin-bottom: 1em;
  }
  a{
    display: block;
    color:$color-2;
    padding-bottom: 0.5em;
    background: #f3faff;
    margin: 0.2em;
    padding: 0.5em;
  }
}
.article{
  margin-bottom: $unit-large;
}
.thanks{
  margin:1em 0;
}