$unit-small: 8px;
$unit: $unit-small * 2;
$unit-large: $unit * 2;
$unit-huge: $unit-large * 2;

$color-1: #8F63E3;
$color-2: #2D9CDB;
$text-color: #4F4F4F;
$sec-background-color: #FAFAFA;
;

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

.container {
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: $unit;
  padding-right: $unit;
}

.main-content {
  padding: calc(#{$unit-huge} - 30px) 0;
}

.main-title {
  background: url(../image/svg/placeholder.svg) no-repeat;
}

.grid-title {
  background: url(../image/svg/edit.svg) no-repeat;
}

.content__title {
  margin-bottom: calc(#{$unit-huge} - 10px);
  text-align: center;
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 300;
  background-position: center;
  padding: 30px 0 10px 0;
  strong {
    color: $color-2;
    text-transform: capitalize;
  }
  @media (min-width: 550px) {
    font-size: 22px;
  }
}

.skill-set {
  padding: 0 10px;
  @media (min-width: 550px) {
    padding: 0 80px;
  }
}

.skill-name {
  color: $text-color;
  font-size: 22px;
  margin-bottom: $unit;
}

.skill-desc {
  color: $text-color;
  font-size: 16px;
}

.skill-set__item {
  position: relative;
  display: flex;
  margin-bottom: $unit-large;

  &:not(:last-child):after {
    content: "";
    position: absolute;
    top: 0;
    left: 28px;
    width: 2px;
    height: 150%;
    background: #b4b4b4;
  }
  &::before {
    content: "";
    display: block;
    margin-right: 20px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 3px 6px #0000003b;
    flex: 0 0 50px;
    @media (min-width: 550px) {
      height: 56px;
      flex: 0 0 56px;
    }
  }
}

.item-1 {
  &::before {
    background: $color-2;
    background: url(../image/svg/002-code.svg) no-repeat 50%, $color-2;
    background-size: 26px;
  }
  @media (min-width: 550px) {
    background-size: 30px;
  }
}

.item-2 {
  &::before {
    background: $color-1;
    background: url(../image/svg/001-layers.svg) no-repeat 50%, $color-1;
    background-size: 30px;
  }
}

.footer {
  padding: $unit-huge 0;
  text-align: center;
  background: $color-1;
  p {
    color: #fff;
    margin-bottom: $unit;
    font-size: 18px;
    @media (min-width: 550px) {
      font-size: 20px;
      padding: 0 60px;
    }
  }
}

.footer-btn {
  a {
    color: $color-1;
    padding: $unit-small $unit-large;
    border-radius: 40px;
    background: #fff;
    font-size: 18px;
    box-shadow: 0 2px 4px #593e7c;
    transition: all .2s;
    &:hover {
      box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25)
    }
  }

}

header {
  background: $sec-background-color;
  box-shadow: 0 0 4px #00000033;
  color: $text-color;
  padding-top: $unit-large;
  padding-bottom: $unit-large;
  background-image: linear-gradient(to right, $color-2, $color-1);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: top center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media(min-width: 650px) {
      flex-direction: initial;
    }
  }
  .text {
    order: 2;
    text-align: center;
    position: relative;
    @media(min-width: 650px) {
      order: 1;
      text-align: initial;
    }
  }
  .image {
    order: 1;
    margin-bottom: $unit;
    border-radius: 50%;
    background: #fff;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 8px 0px #00000012;
    position: relative;
    overflow: hidden;
    @media(min-width: 650px) {
      order: 2;
      margin-bottom: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  span {
    display: inline-block;
    color: #fff;
    background: #2D9CDB;
    padding: 4px 40px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: -32px;
    z-index: 1;
    border-radius: 20px;
    @media(min-width: 650px) {
      padding: 4px 16px;
      left: 0;
      top: 0;
      margin-bottom: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      width: 0;
      height: 0;
      border-left: 12px solid $color-2;
      border-right: 28px solid transparent;
      border-bottom: 13px solid transparent;
    }
  }
  h1 {
    font-size: 28px;
    font-weight: 300;
  }
  p {
    font-weight: 700;
    font-size: 22px;
  }

}

/******animation*******/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-in.one {
  animation-delay: .3s;
}

.fade-in.two {
  animation-delay: 1s;
}

.fade-in.three {
  animation-delay: 2s;
}

.fade-in.four {
  animation-delay: 2.5s;
}

.fade-in.four {
  animation-delay: 2.5s;
}

/******github section*******/

.work-section {
  background: $sec-background-color;
  padding: $unit-large 0;
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  text-align: center;
  @media(min-width: 650px) {
    text-align: initial;
  }
  p {
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
  }
  .github-link {
    background: #494949;
  }
  .dribbble-link {
    background: #ea4c89;
  }
  .instagram-link {
    background: #bc2a8d;
  }
  a {
    display: inline-block;
    padding: 2px 12px;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.3s;
    &:hover {
      background: $color-1;
    }
  }

  svg {
    width: 18px;
    fill: #fff;
    vertical-align: text-bottom;
  }
}

.instagramfeed {
  padding-top: $unit;
  padding-bottom: $unit;
  text-align: center;
}

.grid-section {
  padding: $unit-large 0;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;

}

.grid-item {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px #dddddd;
  border-radius: 4px;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.big {
  grid-column: 1/3;
}
