html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
code, strong, ul, li,
footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  box-sizing: border-box; }

footer, header, section {
  display: block; }

body {
  line-height: 1.4; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block; }

* {
  font-family: 'Sarabun', sans-serif; }

.o-wrapper--wide {
  padding: 1em; }
  @media (min-width: 1060px) {
    .o-wrapper--wide {
      padding: 1em calc(50% - 530px); } }

.o-wrapper {
  padding: 1em;
  padding: 1em calc(50% - 420px); }

.o-grid {
  display: grid; }

.o-grid-12 {
  grid-template-columns: repeat(12, 1fr); }

.o-flex {
  display: flex; }

.o-flex-center {
  justify-content: space-between;
  align-items: center; }

.c-header {
  background: #fff;
  background-image: linear-gradient(to right, #F1A9C5, #5C96DF);
  background-size: 100% 6px;
  background-repeat: no-repeat; }
  @media (min-width: 450px) {
    .c-header {
      display: flex;
      justify-content: space-between;
      align-items: center; } }

.img {
  border-radius: 50%;
  background: #fff;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 8px 0px #00000012;
  position: relative;
  overflow: hidden; }
  .img img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.c-logo {
  align-items: center; }
  .c-logo img:first-of-type {
    border-radius: 50%;
    max-height: 70px;
    max-width: 70px; }
  .c-logo img:last-of-type {
    max-height: 50px;
    margin-top: 12px;
    margin-left: 12px; }

.c-nav {
  padding: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 16px; }
  .c-nav a {
    padding: 0.5em;
    color: #000;
    font-family: 'Acme', sans-serif;
    font-size: 16px; }
  .c-nav ul {
    text-align: center;
    justify-content: space-around; }
  .c-nav li:first-of-type {
    border-right: 1px solid #eee; }
  .c-nav li {
    flex: 1; }
  @media (min-width: 450px) {
    .c-nav {
      border: none;
      margin-top: 0; }
      .c-nav ul {
        justify-content: initial; }
      .c-nav ul li:first-of-type {
        margin-right: 16px; }
      .c-nav li {
        flex: initial; }
      .c-nav li:first-of-type {
        border-right: none; }
      .c-nav a {
        padding: 1em;
        font-size: 18px;
        position: relative; }
        .c-nav a:before {
          content: '';
          position: absolute;
          transition: transform .5s ease;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: #5C96DF;
          transform: scaleX(0);
          border-radius: 8px; }
        .c-nav a:hover:before {
          transform: scaleX(1); } }

.article-img-wrapper {
  position: relative; }
  .article-img-wrapper img {
    width: 100%; }

.article-title {
  padding: 1em 0;
  font-size: 2em; }

.article-text {
  padding: 1em 0;
  line-height: 1.6; }

.article-subtitle {
  padding-top: 1em;
  font-size: 1.5em; }

.press h2 {
  margin-bottom: 1em; }
.press a {
  display: block;
  color: #2D9CDB;
  padding-bottom: 0.5em;
  background: #f3faff;
  margin: 0.2em;
  padding: 0.5em; }

.article {
  margin-bottom: 32px; }

.thanks {
  margin: 1em 0; }

.journal-intro {
  padding: 1em;
  margin-top: 16px; }
  .journal-intro p {
    padding: 1em;
    color: #4F4F4F;
    text-align: center;
    line-height: 1.8; }
    .journal-intro p::after {
      content: '';
      display: block;
      height: 2px;
      width: 50px;
      background: #8F63E3;
      margin: 0 auto;
      margin-top: 32px; }

.socialmedia-section {
  background: #f4efff;
  padding-top: 16px;
  padding-bottom: 16px; }
  .socialmedia-section ul {
    display: flex;
    justify-content: center; }
  .socialmedia-section li {
    padding: 0.5em; }
    @media (min-width: 650px) {
      .socialmedia-section li {
        padding: 1em; } }
  .socialmedia-section a {
    color: #4F4F4F;
    font-weight: bold; }
  .socialmedia-section a.linkedin {
    color: #007bb5; }
  .socialmedia-section a.twitter {
    color: #1da1f2; }
  .socialmedia-section a.instagram {
    color: #c32aa3; }
  .socialmedia-section a.dribble {
    color: #ea4c89; }

/*# sourceMappingURL=main.css.map */
